@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.UserFirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserFirstName"></label>
                <span asp-validation-for="Input.UserFirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.UserLastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserLastName"></label>
                <span asp-validation-for="Input.UserLastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="datetime-local" asp-for="Input.UserBirthDay" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserBirthDay"></label>
                <span asp-validation-for="Input.UserBirthDay" class="text-danger"></span>
            </div>
            <div class="form-floating">
                @Html.DropDownListFor(
                m=>m.Input.ClientJobType,
                new SelectList(BankApp.Models.JobTypes.JobTypesDictionary.Keys),"Select Job Type", new {required = (string)null}))
                <br />
                <span asp-validation-for="Input.ClientJobType" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="number" asp-for="Input.ClientIncomeLevel" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.ClientIncomeLevel"></label>
                <span asp-validation-for="Input.ClientIncomeLevel" class="text-danger"></span>
            </div>
            <div class="form-floating">
                @Html.DropDownListFor(
                m=>m.Input.ClientGovernmentIDType,
                new SelectList(BankApp.Models.DocumentTypes.DocumentTypesDictionary.Keys),"Select Government ID Type", new {required = (string)null})
                <br />
                <span asp-validation-for="Input.ClientGovernmentIDType" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="datetime-local" asp-for="Input.ClientJobStartDay" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.ClientJobStartDay"></label>
                <span asp-validation-for="Input.ClientJobStartDay" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="text" for="Input.ClientGovernmentIDNumber" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.ClientGovernmentIDNumber"></label>
                <span asp-validation-for="Input.ClientGovernmentIDNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
