@{
    ViewData["Title"] = "Inquiries";
}
@model IEnumerable<BankApp.Models.InquiryModel>

<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
    <div class="dropdown-menu show" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
        <a class="dropdown-item" asp-action="AllBankInquiries" asp-route-sortOrder="@ViewData["DateSortParam"]">Najnowsze</a>
        <a class="dropdown-item" asp-action="AllBankInquiries" asp-route-sortOrder="@ViewData["LoanSortParam"]">Po Loan</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Loan Value</th>
            <th scope="col">Number Of installments</th>
            <th scope="col">Client's ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inquiry in Model)
        {
            <tr class="table-info">
                <td>@inquiry.SubmisionDate</td>
                <td>@inquiry.LoanValue</td>
                <td>@inquiry.InstallmentsCount</td>
                <td>@inquiry.ClientId</td>
            </tr>
        }
    </tbody>
</table>