@using Microsoft.AspNetCore.Identity
@inject SignInManager<BankApp.Models.ClientModel> SignInManager
@inject UserManager<BankApp.Models.ClientModel> UserManager

@*@model BankApp.Models.ClientModel*@
@*@model InquiryModel*@
@{
    ClientModel client = ViewData.Model.Client;
    InquiryModel inquiry = ViewData.Model.Inquiry;

    <form method="post" asp-action="Inquiry">
        <label asp-for="@inquiry.LoanValue">loan value</label>
        <input asp-for="@inquiry.LoanValue" value="" />
        <label asp-for="@inquiry.InstallmentsCount">number of installments</label>
        <input asp-for="@inquiry.InstallmentsCount" />

        <label asp-for="@client.UserFirstName">First Name</label>
        <input asp-for="@client.UserFirstName" />
        <label asp-for="@client.UserLastName">Last Name</label>
        <input asp-for="@client.UserLastName" value="@client.UserLastName" disabled />


        <input type="submit" value="Submit inquiry" />
    </form>
}
